.player-turn-appear {
  opacity: 0;
}

.player-turn-appear.player-turn-appear-active {
  opacity: 1;
  transition: all 300ms;
}

.player-turn-enter {
  opacity: 0;
  transform: translateX(-200px);
}

.player-turn-enter.player-turn-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms;
}

.player-turn-exit {
  opacity: 1;
  transform: translateX(0);
}

.player-turn-exit-active {
  opacity: 0;
  transform: translateX(200px);
  transition: all 300ms;
}