.deck-card-appear {
  transform: scale(1.2);
}

.deck-card-appear.deck-card-appear-active {
  transform: scale(1);
}

.deck-card-enter {
  transform: scale(1.5) translateY(-50px) !important;
}

.deck-card-enter.deck-card-enter-active {
  transform: scale(1) translateY(0px) !important;
  transition: transform 200ms;
}

.deck-card-exit {
  transform: translateY(0px) !important;
  opacity: 1;
}

.deck-card-exit.deck-card-exit-active {
  transform: translateY(-100px) !important;
  opacity: 0;
  transition: all 200ms;
}