.card-component-appear {
  opacity: 0;
  transform: scale(1.5);
}

.card-component-appear.card-component-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity transform 300ms linear;
}

.card-component-enter {
  opacity: 0;
  transform: scale(1.5) translateY(-40px);
}

.card-component-enter.card-component-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0px);
  transition: opacity transform 300ms linear;
}

.card-component-exit {
  width: 0px !important;
  margin-right: 0px !important;
  opacity: 1;
  transform: translateY(0px);
}

.card-component-exit.card-component-exit-active {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity transform 300ms linear;
}

.card-component-exit-done {
  opacity: 0;
}