.stack-card-appear {
  transform: scale(1.2);
}

.stack-card-appear.stack-card-appear-active {
  transform: scale(1);
}

.stack-card-enter {
  transform: scale(1.5) translateY(-50px) !important;
}

.stack-card-enter.stack-card-enter-active {
  transform: scale(1) translateY(0px) !important;
  transition: all 200ms;
}