@import "./react-transition-group/deck.scss";

.deck-wrap {
  width: 150px;

  .deck {
    width: 80px;
    height: 114px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #afafaf;
    background-color: #afafaf;
    cursor: pointer;
    
    &:hover {
      .flip-card:last-child {
        transform: scale(1.2);
        .game-card {
          transform: rotate(0);
        }
      }
    }
  }
  
  & > .title {
    text-align: center;
  }
}

.flip-card {
  position: absolute;
  width: 80px;
  height: 114px;
  perspective: 1000px;
  transition: all 150ms;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 150ms;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg) !important;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.flip-card.disabled:not(.flipped) {
  cursor: not-allowed;

  &:hover {
    transform: none !important;
  }
}