.pass-turn-button {
  width: 100%;
  text-transform: uppercase;
  opacity: 0 !important;
  transform: translateY(100%);
  transition: all 250ms;
}

.pass-turn-button.show, .pass-turn-button-mobile.show {
  transform: translateY(0%);
  opacity: 1 !important;
}

.pass-turn-button-mobile {
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(150%);
  transition: all 250ms;
  margin-top: 20px;
}