@import "./react-transition-group/player-cards.scss";

.cards-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.cards-track {
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow-x: hidden;
  z-index: 0;
  text-align: center;
}

.cards-track > div {
  position: relative;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 45px;
  white-space: nowrap;
  overflow: hidden;
}

.card-wrap {
  width: 80px;
  display: inline-block;
  margin-right: 5px;
  transition: all 150ms;
  cursor: pointer;

  &:hover {
    .game-card {
      bottom: 25px;
      transform: scale(1.2);
      z-index: 28;
    }
  }

  &:not(:hover) {
    .game-card {
      z-index: 1;
    }
  }
}

.card-wrap.disabled {
  position: relative;
  cursor: not-allowed;

  &:hover {
    .game-card {
      bottom: 0px;
      transform: none;
      opacity: 0.3;
      transform: scale(0.9);
    }
  }

  .game-card {
    opacity: 0.5;
  }
}

.game-card {
  width: 80px;
  height: 114px;
  bottom: 0;
  transition: all 150ms;

  .card-header, .card-footer {
    width: 100%;
    display: block;
    padding: 0px 5px 0px 5px;
    border: 0;
    box-shadow: none;
  }
  
  .card-header {
    text-align: left;
  }

  .card-content {
    padding: 15px 0px 15px 0px;
  }

  .card-footer {
    text-align: left;
    transform: rotate(180deg);
  }
}