@import "./react-transition-group/stack.scss";

.stack-wrap {
  width: 150px;

  .stack {
    width: 80px;
    height: 114px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #afafaf;
    background-color: #afafaf;
  }
  
  & > .title {
    text-align: center;
  }
}

.game-card {
  .card-suit {
    transition: all 400ms;
  }

  .card-suit.hidden {
    transform: scale(2);
    opacity: 0;
  }

  .card-rank-header, .card-rank-footer {
    transition: all 400ms;
  }
}