.suits-content {
  .title {
    text-transform: uppercase;
  }
}

.suits-select {
  width: 100%;
  overflow: hidden;

  .column {
    text-align: center;
    font-size: calc(40px + 4vw);
    transition: transform 150ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.title {
  color: #fff;
  text-align: center;
}