.game-columns {
  .column {
    display: flex;
    justify-content: center;
  }

  .middle-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;

    .current-player-container, .pass-turn-container {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      .title.is-6 {
        color: #bfbfbf;
        font-size: small;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      .title.is-4 {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    .player-turn-wrap {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
    }
  }
}